<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpcp.loto">
    <!--版本覆盖视频库约束的最低版本为16-->
    <uses-sdk tools:overrideLibrary="fm.jiecao.jcvideoplayer_lib" />
    <!--访问网络和wifi状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--访问磁盘-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!---->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--bugly权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--bmob权限-->
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--极光权限-->
    <!-- Required -->
    <permission
        android:name="com.cpcp.loto.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.cpcp.loto.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">

        <!--android N之后磁盘访问声明 ${applicationId}-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cpcp.loto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.WebPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebCommonPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GetRedPacketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SuperiorInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LotoKingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WinningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendXinShuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenLotteryLiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QueryHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommunicationForumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TextDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InformationStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrendAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LotoFormulaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryLotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ToolBoxActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RichActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SalaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BuyRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithDrawRecordActivity"
            android:screenOrientation="portrait" />

        <!---->
        <activity
            android:name=".activity.ShakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShengXiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.XuanJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TurntableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiaoZhuDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TianJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LuckActivity"
            android:screenOrientation="portrait" />

        <!--极光测试页面，点击后打开-->
        <!--**********************************极光开始***************************************************************-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.cpcp.loto" /><!--运用包名-->
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.cpcp.loto" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.cpcp.loto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.cpcp.loto.broadcast.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.cpcp.loto" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="8bfd2cd3d71ca511e41abf1e" /> <!--  </>值来自开发者平台取得的AppKey-->
        <!--**********************************极光结束***************************************************************-->

    </application>

</manifest>